/* Style the body */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    background-color: black;
    color: white;
    font-family: 'Lato', sans-serif;
    text-align: center;
}

/* Style the main error message */
h1 {
    font-size: 3em;
    margin-bottom: 20px;
}

/* Style the description text */
p {
    font-size: 1.5em;
    margin-bottom: 30px;
}

/* Style the back to home button */
.back-home-button {
    font-family: 'Lato', sans-serif; /* Ensure Lato font is applied */
    background-color: #0b54a3;
    color: white;
    text-decoration: none; /* Remove underline from the button */
    margin-top: 20px;
    padding: 10px 20px;
    border-radius: 5px;
}
/* Change button color on hover */
.back-home-button:hover {
    background-color: #00ff0d;
    color: black;
}