body {
    background-color: black; /* Black background for the entire page */
    color: white; /* Default text color */
    /* Apply Lato font to the entire body */
    font-family: 'Lato', sans-serif;
}

/* Style for the About button */
.about-button {
    display: block; 
    background-color: black; 
    color: white; 
    padding: 10px 15px; 
    text-align: center; 
    border-radius: 5px; 
    margin: 20px auto; 
    width: fit-content; 
    text-decoration: none; 
    font-size: 1.25em;
    font-family: 'Lato', sans-serif;
}

/* Hover effect for the About button */
.about-button:hover {
    background-color: #2bff00; 
    color: black;
}

/* Style for the main content */
main {
    display: flex;
    flex-direction: column;
    align-items: center; 
    margin-top: 20px; 
}

/* About page container styling */
.about-container {
    max-width: 800px;
    margin: 50px auto; 
    padding: 20px;
    text-align: center;
    background-color: white; /* Light background for the container */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Slight shadow */
}

/* About page headings */
.about-container h1,
.about-container h2 {
    font-size: 2.5em;
    margin-bottom: 15px;
    color: #333; /* Dark color for headings */
}

/* About page paragraph styling */
.about-container p {
    font-size: 1.2em;
    line-height: 1.6;
    color: #555; /* Slightly lighter color for paragraph text */
}

/* Style for the back home button */
.back-home-button {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #000; /* Black background */
    color: #fff; 
    text-decoration: none; /* Remove underline from the button */
    border-radius: 5px;
    font-family: 'Lato', sans-serif;
}

/* Change the color of the back home button on hover */
.back-home-button:hover {
    background-color: #2bff00;
    color: black;
}