/* Apply Lato font to the entire body */
body {
    font-family: 'Lato', sans-serif;
}

/* Style for the defender background image */
.defenderbackground-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}


/* Styleing and size the defender images */
.defender-image {
    display: block;
    margin: 0 auto 20px;
    max-width: 350px;
    max-height: 500px;
    width: 100%;
    height: auto;
    margin-bottom: 30px;
}


/* Style the back button */
.back-button {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: black;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}


/* Styleing for the back button */
.back-button:hover {
    background-color: #2bff00;
    color: black;
}


.defender-details {
    font-size: 1.5em;
    line-height: 2;
}


.defender-container {
    z-index: 1;
    max-width: 80%;
    margin: 0 auto;
}


.defender-name {
    font-size: 3em;
    margin-bottom: 50px;
}


/* Remove bullet points from descriptions */
ul {
    list-style-type: none;
}
