/* Style body of the website */
body {
    font-family: 'Lato', sans-serif;
    color: white;
    text-align: center;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


/* Style for the home background image */
.homebackground-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}


/* Style the list of defenders neatly for homepage */
.defender-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style-type: none;
    padding: 0;
}


/* Style each defender button background */
.defender-item {
    background-color: rgba(21, 68, 224, 0.5);
    border: 1px solid #000;
    border-radius: 10px;
    font-size: 20px;
    margin: 10px;
    padding: 50px;
    text-align: center;
    width: 200px;
}


/* Style the text for the link to each defender */
.defender-item a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    display: block;
    font-size: 30px;
    padding: 10px;
    transition: transform 0.5s ease, color 0.5s ease;
}


/* Increase the size of the defender link when hovered */
.defender-item a:hover {
    transform: scale(2.0);
    color: #2bff00;
}


/* Style for the search form */
.search-form {
    display: flex;
    justify-content: center;
    margin: 50px 0;
}


/* Style for the search input field */
.search-input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    width: 250px;
    margin-right: 10px;
}


/* Style for the search button */
.search-button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}


/* Style for the search button on hover */
.search-button:hover {
    background-color: #2bff00;
}
