* static/styles.css */

/* Style body of the website */
body {
    height: 100%;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;

}

body {
    display: flex;
    flex-direction: column;
    min-height: 100%; /* Ensure the body covers at least 100% of the height */
}

/* Center the main heading "Defenders" */
h1 {
    text-align: center;
    margin: 30px;
    color: rgb(255, 255, 255);
 
}

/* Style the list of defenders */
.defender-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style-type: none;
    padding: 0;
}

/* Style each defender button */
.defender-item {
    background-color: rgba(21, 68, 224, 0.5); 
    border: 1px solid rgb(0, 0, 0);
    border-radius: 10px;
    font-size: 20px;
    margin: 10px;
    padding: 50px;
    text-align: center;
    width: 200px;
    
}

/* Style the defender button letters */
.defender-item a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: bold;
}

/* Style the color of the defender button letters when about to click onto it */
.defender-item a:hover {
    color: #2bff00;
}

/* Style the color of the writing once you click onto the defender. */
.white-text {
    color: white;
}

/*styleing and size the defender images.*/
.defender-image {
    display: block;
    margin: 0 auto 20px;
    max-width: 350px; 
    max-height: 500px;
    width: 100%; 
    height: auto;
}


 /* styling for the back button */
 .back-button {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}

/* Styleing for the back button */
.back-button:hover {
    background-color: #2bff00;
}


.defender-details {
    font-size: 1.5em; /* Increase font size */
    line-height: 1.6; /* Add line height */
}

.defender-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 800px;
    margin: 20px;
}

.defender-name {
    font-size: 3em; /* Increased font size for the defender's name */
    margin-bottom: 20px; /* Add space below the name */
}