{% extends "layout.html" %}

{% block content %}
    <div class="about-container">
        <h1>About This Website:</h1>
        <h2>Welcome!</h2>
        <p>This website is designed to help players of Rainbow Six Siege quickly access information about defenders, their weapons, gadgets, and stats!</p>
        <p>Use the search bar on the homepage to navigate to each defenders detailed information page. 
            Or use the links to press on which ever defender you would like to view.</p>
        <h2>Enjoy!</h2>
        <!-- Back to home button -->
        <a href="/" class="back-home-button">Back to Home</a>
    </div>
{% endblock %}