<html>
<head>
    <title>{{ defender[1] }}</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <style>
        body {
            background-image: url("{{ url_for('static', filename='images/defenderbackground.jpg') }}");
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            min-height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
            color: white;
            text-align: center;
        }
        
    </style>
</head>
<body class="white-text">
    <header>
        <a href="/" class="back-button">Back to Home</a>
    </header>
    <main>
        <div class="defender-container">
            <h1 class="defender-name">{{ defender[1] }}</h1> 
            <img src="{{ url_for('static', filename=defender[5]) }}" alt="{{ defender[1] }} Image" class="defender-image">
            <div class="defender-details">
                <p>Health: {{ defender[6] }}</p>
                <p>Speed: {{ defender[2] }}</p>
                <p>Difficulty: {{ defender[3] }}</p>
                <p>Unlock Cost: {{ defender[4] }}</p>
                <h2>Weapons</h2>
                <ul>
                    {% for weapon in weapons %}
                    <li>{{ weapon[0] }} - {{ weapon[1] }}</li>
                    {% endfor %}
                </ul>
                <h2>Gadgets</h2>
                <ul>
                    {% for gadget in gadgets %}
                    <li>{{ gadget[0] }} - {{ gadget[1] }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </main>
    <footer>
        
    </footer>
</body>
</html>