{% extends "layout.html" %}

{% block content %}
    <!-- Home page content -->
   
    <!-- Background image for the home page -->
    <img src="{{ url_for('static', filename='images/R6Background.jpg') }}" alt="Background Image" class="homebackground-image">


    <!-- Main content -->
    <main>
 
        <!-- Add a form for the search bar -->
        <form action="{{ url_for('search') }}" method="get" class="search-form">
        <input type="text" name="query" placeholder="Search for a defender here" class="search-input" maxlength="25">
        <button type="submit" class="search-button">Search</button>
        </form>


       
        <!-- List of defenders displayed on the home page -->
        <ul class="defender-list">
            <!-- Loop through the defenders -->
            {% for defender in defenders %}
            <!-- Create a list item for each defender with a link to their specific page -->
            <li class="defender-item">
                <a href="/defender/{{ defender[0] }}">{{ defender[1] }}</a>
            </li>
            {% endfor %}
        </ul>
    </main>
{% endblock %}
