<html>
<head>
    <!-- Set the viewport to ensure the website is responsive -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Link to the external CSS stylesheet for general styling -->
    <link rel="stylesheet" href="{{ url_for('static', filename='homepage.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='defender.css') }}">
</head>
<body>
    <!-- Header section with a title -->
    <header>
        <h1>Rainbow Six Siege Defenders</h1>
    </header>

    <!-- Main content block -->
    <main>
        {% block content %}{% endblock %}
    </main>

    <!-- Footer section -->
    <footer>
        
        <p>2024 Rainbow Six Siege Database</p>
    </footer>
</body>
</html>